body{
	background-color: #E0E0E0;
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
}

.centerDiv{
    margin: 0 auto;
    height: 100%;
    left: 10%;
    right: 10%;
    /*background-color: blue;*/
    position: absolute;
}

.homeText{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 9vw;
}
.x1 {
    overflow:hidden;
}
.x1 .x2 {
    display:block;
    float:left;
    padding: 12.5%;
    width:auto;
    height:auto;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background:#eee;
    text-align:center;
    position: relative;
}
.x1 .x2 span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 48%;
    line-height: 1em;
    height: 1em;
    font-size: 6vw;
    overflow: hidden;
}

.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #ed7979);
  background-image: -moz-linear-gradient(top, #d93434, #ed7979);
  background-image: -ms-linear-gradient(top, #d93434, #ed7979);
  background-image: -o-linear-gradient(top, #d93434, #ed7979);
  background-image: linear-gradient(to bottom, #d93434, #ed7979);
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  font-family: Arial;
  color: #ffffff;
  font-size: 6vw;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ed7979;
  background-image: -webkit-linear-gradient(top, #ed7979, #d93434);
  background-image: -moz-linear-gradient(top, #ed7979, #d93434);
  background-image: -ms-linear-gradient(top, #ed7979, #d93434);
  background-image: -o-linear-gradient(top, #ed7979, #d93434);
  background-image: linear-gradient(to bottom, #ed7979, #d93434);
  text-decoration: none;
}

.centerDiv a{
	text-decoration: none;
	color: #302E2E;
}

/****** Register page starts here ******/
.registerMaindiv{
    height: 100%;
    left: 10%;
    right: 10%;
    /*background-color: blue;*/
    position: absolute;
    font-size: 6vw;
    text-align: center;	
}

#registerform{
    position: absolute;
    top: 15%;
}

#registerform input{
	width: 85%;
	height: 5vh;
    margin: 5% 0;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	padding: 5px;
	padding-left: 15px;
	text-align: center;
}

#registerform select{
    width: 91%;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding: 5px;
    padding-left: 15px;
    text-indent: 27vw;
    background-color: white;
}

#registerform button{
	width: 40%;
	height: 30px;
	border-radius: 4px;
    color: white;
    background-color: #3498db;
	border: 1px solid #3498db;
}

.back{
    position: absolute;
    right: 5%;
    font-size: 5vw;
}

/****** Register page ends here ******/

/****** Search page starts here ******/
.searchMaindiv{
    height: 100%;
    left: 10%;
    right: 10%;
    /*background-color: blue;*/
    position: absolute;
    font-size: 6vw;
    text-align: center; 
}

#searchform{
    position: absolute;
    top: 15%;
}

#searchform input{
    width: 85%;
    height: 5vh;
    margin: 5% 0;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding: 5px;
    padding-left: 15px;
    text-align: center;
}

#searchform select{
    width: 91%;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding: 5px;
    padding-left: 15px;
    text-indent: 27vw;
    background-color: white;
}

#searchform button{
    width: 40%;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: #3498db;
    border: 1px solid #3498db;
}

/****** Search page ends here ******/

/****** Search result page starts here ******/
.searchresultMaindiv{
    height: 100%;
    left: 10%;
    right: 10%;
    /*background-color: blue;*/
    position: absolute;
    text-align: center;
}

.resultTable{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
	position: absolute;
}

.resultTable thead{
    background-color: #2980b9;
    text-align: center;
    color: white;
    height: 30px;
}

.resultTable thead td{
    font-size: 3.5vw;
}

.resultTable tbody td{
    color:white;
    font-size: 3.5vw;
}
/****** Search result page ends here ******/